{
    "extends": ["plugin:prettier/recommended"],
    "ignorePatterns": [
        "**/Kalimba*"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    }
}